PORT=5000
NODE_ENV=development

# DynamoDB Configuration - Connected to Docker Localhost DB
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
DYNAMODB_ENDPOINT=http://localhost:8000

# DynamoDB Tables
DYNAMODB_TABLE_USERS=PlusOne_Users

# JWT & Security
JWT_SECRET=plusone_super_secret_local_jwt_key_2026
